server:
  port: 8084 # Port m?i cho service
spring:
  application:
    name: notification-service
  rabbitmq:
    addresses: amqps://xqjmojji:hn8Iv-4Aa0YFZRmZuLtz6jMB0xoZl8TH@fuji.lmq.cloudamqp.com/xqjmojji
    username: xqjmojji
    password: hn8Iv-4Aa0YFZRmZuLtz6jMB0xoZl8TH
    virtual-host: xqjmojji
    ssl:
      enabled: true
    listener:
      simple:
        retry:
          enabled: true
          max-attempts: 3
          initial-interval: 1000
          multiplier: 2.0
  mail:
    host: smtp.sendgrid.net
    port: 587
    username: apikey
    password: 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
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true
eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE:http://discovery-service:8761/eureka/}
