server:
  port: 8082
spring:
  application:
    name: product-service
  datasource:
    url: jdbc:postgresql://db-postgresql-sgp1-29269-do-user-23301452-0.k.db.ondigitalocean.com:25061/product_service?sslmode=require
    username: doadmin
    password: AVNS_yX_L2SKXt73ktjTiGbU
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  cache:
    type: redis
  data:
    redis:
      host: db-valkey-sgp1-50141-do-user-27848320-0.k.db.ondigitalocean.com
      port: 25061
      username: default
      password: AVNS_N-gwsyNb6xBC3fXPdQp
      ssl:
        enabled: true
  rabbitmq:
    addresses: amqps://xqjmojji:hn8Iv-4Aa0YFZRmZuLtz6jMB0xoZl8TH@fuji.lmq.cloudamqp.com/xqjmojji
    username: xqjmojji
    password: hn8Iv-4Aa0YFZRmZuLtz6jMB0xoZl8TH
    virtual-host: xqjmojji
    ssl:
      enabled: true
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE:http://discovery-service:8761/eureka/}
  instance:
    prefer-ip-address: true
jwt:
  signerKey: cnf61zcey4yE0RfDwk3yOAgi+CRVsjb1LPQP0O9e0GyLworFq8IthDFERD/0bxy2
  valid-duration: 3600
  refreshable-duration: 86400

file:
  directory: ./uploads/
  max-size: 10MB

app:
  default-admin-id: d50f8589-da20-49e8-a3f3-6a115d1f68d7

product-images:
  max-per-product: 5
