eureka:
  client:
    service-url:
      # Ghi đè cấu hình này để trỏ về localhost
      defaultZone: http://localhost:8761/eureka/

spring:
  elasticsearch:
    uris: http://localhost:9200
    username:
    password:

  cache:
    type: redis
  data:
    redis:
      host: 127.0.0.1
      port: 6379
      username: ""
      password: ""
      ssl:
        enabled: false
