global:
  scrape_interval: 15s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

  - job_name: "cadvisor"
    static_configs:
      - targets: ["cadvisor:8080"]

  # Backend Services
  - job_name: "api-gateway"
    metrics_path: "/actuator/prometheus"
    static_configs:
      - targets: ["api-gateway:8080"]
        labels:
          service: "api-gateway"

  - job_name: "discovery-service"
    metrics_path: "/actuator/prometheus"
    static_configs:
      - targets: ["discovery-service:8761"]
        labels:
          service: "discovery-service"

  - job_name: "user-service"
    metrics_path: "/actuator/prometheus"
    static_configs:
      - targets: ["user-service:8081"]
        labels:
          service: "user-service"

  - job_name: "product-service"
    metrics_path: "/actuator/prometheus"
    static_configs:
      - targets: ["product-service:8082"]
        labels:
          service: "product-service"

  - job_name: "file-service"
    metrics_path: "/actuator/prometheus"
    static_configs:
      - targets: ["file-service:8083"]
        labels:
          service: "file-service"

  - job_name: "notification-service"
    metrics_path: "/actuator/prometheus"
    static_configs:
      - targets: ["notification-service:8084"]
        labels:
          service: "notification-service"

  - job_name: "order-service"
    metrics_path: "/actuator/prometheus"
    static_configs:
      - targets: ["order-service:8085"]
        labels:
          service: "order-service"

  - job_name: "payment-service"
    metrics_path: "/actuator/prometheus"
    static_configs:
      - targets: ["payment-service:8086"]
        labels:
          service: "payment-service"
