server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        #  user-service
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/api/user/**
          filters:
            - StripPrefix=2
        # product-service
        - id: product-service
          uri: lb://product-service
          predicates:
            - Path=/api/product/**
          filters:
            - StripPrefix=2
        # file-service
        - id: file-service
          uri: lb://file-service
          predicates:
            - Path=/api/file/**
          filters:
            - StripPrefix=2
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
management:
  tracing:
    sampling:
      # Tỷ lệ lấy mẫu.
      probability: 1.0
  zipkin:
    tracing:
      # Địa chỉ của Zipkin server
      endpoint: http://localhost:9411/api/v2/spans